{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}

<div class="container">
   <!-- Search Form -->
   <div class="container">
      <form>
         <input type="text" name="movie_query" placeholder="Search for a Movie" class="form-control"> </br>
         <input type="submit" value="Submit" class="btn btn-default form-control">
      </form>

   </div>

   <!--Popular Movies Section -->
   <hr>
   <h3 style="text-align: center">Popular Movies</h3>
   <hr>
   <div class="container">
      {{macro.displayMovieList(popular)}}
   </div>

   <!--Upcoming Movies Section -->
   <hr>
   <h3 style="text-align: center">Upcoming Movies</h3>
   <hr>
   <div class='container'>
      {{macro.displayMovieList(upcoming)}}
   </div>



   <!--Now Playing Movies Section -->
   <hr>
   <h3 style="text-align: center">Now Playing Movies</h3>
   <hr>
   <div class="container">
      {{macro.displayMovieList(now_playing)}}
   </div>

</div>

{% endblock%}